
.panelpreview_container {
  display: flex;
  height: 100%; 
  min-width: 30%;
  max-width: 50%;
  background-color: #ECECEC; 
  transition: 1000ms ease-in-out;
  transition-delay: 800ms;


  .preview_side_container{
    background-color: #3f4141;
    height: 100%;
    width: 80px; 
    min-width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .preview_side_scroll{
      background-color: #3f4141;
      height: 100%;
      width: 80px; 
      min-width: 80px;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;


      .preview_side{
        background-color: #3f4141;
        height: 100%;
        width: 75px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position: absolute;
        left: 1px;

        .side_box{
          width: 50px;
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: 0.4s ease;


          .side_icon{
            height: 50px;
            width: 50px;
          }

          .side_icon_arrow{
            height: 15px;
            position: absolute;
            transform: translate(30%,-30%);
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
          }

          span{
            color: #ec695c;
            font-size: 12px;
            line-height: 13px;
            margin: 5px 0;
            cursor: default;
            max-width: 70px;
          }
        }
      }
    }

    .side_alert_container{
      margin: 2px;
      border: 2px solid #ffc107;
      width: 75px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 5px;
      cursor: pointer;

      .side_box_alert{
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease;
  
  
        .side_icon{
          height: 50px;
          width: 50px;
        }
  
        span{
          color: #ffc107;
          font-size: 12px;
          line-height: 13px;
          margin: 2px 0 5px 0;
          max-width: 70px;
        }
      }
    }
  }

  .preview_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ECECEC; 


    .preview_top{
      background-color: #ec695c;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      h2{
        color: white;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        margin-right: 10px;
        font-family:  'Montserrat', sans-serif;
        cursor: default;
        width: 50%;
        text-align: right;
      }

      .panel_name_form{
        display : flex;
        align-items : center;
        justify-items : center;
        height : 40px;
        width : 50%;

  
        .panel_name_input{
          color: white;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 0;
          font-family:  'Montserrat', sans-serif;
          background-color: transparent;
          border: none;
          transition: 0.2s ease;
          width: 75%;
          text-align: left;
        }
  

        .panel_name_image{
          height: 24px;
          width: 24px;
          cursor: pointer;
          margin-left: 5px;
        }

        .panel_name_input::placeholder{
          color: #d3d3d3;
        }
      }
    }
  
    .preview_bottom{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ec695c;
      
      .bottom_info_model, .bottom_info_ral{
          height: 40px;
          width: 180px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: white;
          margin: 10px;
          cursor: default;
      }

      .bottom_info_ral{
        justify-content: flex-end;
      }


      .scale_container{
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .scale_box{
          height: 40px;
          width: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .scale_icon{
            height: 25px;
            width: 25px;
            filter: invert(100%) sepia(1%) saturate(1166%) hue-rotate(201deg) brightness(120%) contrast(100%);
          }
        }
      }
    }

    .panel_container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow-y: overlay; // nie działa w Firefox!!
      overflow-x: overlay;
      position: relative;


      .resize_container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .white_info{
          color: rgb(236, 105, 92);
          font-family:  'Montserrat', sans-serif;
          font-weight: 400;
          margin: 0;
          cursor: default;
          margin-top: 15px;
          min-height: 60px;
        }

        .panel_box{
          display: flex;
          box-sizing: border-box;
          position: relative;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin-top: auto;
          margin-bottom: auto;


          .visualization_frame{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.4s ease; 


          }

          .visualization_glass{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.4s ease; 
            clip-path: polygon(0 0, 67% 0, 41% 100%, 0% 100%);
            background-image:
            radial-gradient(
              circle at top left,
              rgba(255,255,255,0.55),
              rgba(255,255,255,0),
            );

          }
          .visualization_glass_bis{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.4s ease;
            clip-path: polygon(67% 0, 100% 0, 100% 100%, 41% 100%);
            background-color: rgba(200,200,200,0.08);
          }

          .visualization_glass_white{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.4s ease; 
            background-color: rgb(233, 233, 233);
          }

          .logo_pure{
            position: absolute;
            transition: 0.4s ease; 
          }

          .panel_content{
            display: flex;
            flex-wrap: wrap;
          
            .lcd{
              border: 1px solid white;
              position: absolute;
            } 
            .lcd_visual{
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;

              .lcd_icon_box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .lcd_icon{
                  filter: grayscale(100%) invert(1) brightness(10) drop-shadow( 0 0 6px rgba(255, 255, 255, 1));
                  cursor: default;
                  transition: 0.4s ease;
                }
              }
              
              .lcd_clock{
                color: white;
                text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                font-family:  'Montserrat', sans-serif;
                font-weight: 500;
                margin: 0;
                cursor: default;
                transition: 0.4s ease;
              }
            }

            .universal_icons{
              position: absolute;

              .universal_icon{
              position: absolute;
              cursor: default;
              }
            }  
            
            .text_box{
              width: 100%;
              height: 100%;
              position: absolute;

              .text_input{
                transition: 0.4s ease;
                text-align: center;
                position: absolute;
                transform: translateX(-50%);
                padding: 0;
              }
            }
          }
        }
      }
    }

    .panel_container::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    .panel_container::-webkit-scrollbar-thumb {
      background: rgba(236, 105, 92,0.5);
      border-radius: 10px;
    }
    .panel_container::-webkit-scrollbar-corner{
      background: transparent;
    }
  }
}


.border_top1{
 border-top: 2px solid white;
}
.border_top0{
  border-top: none;

}
.border_left1{
 border-left: 2px solid white;
}
.border_left0{
  border-left: none;
}
.border_bottom1{
  border-bottom: 2px solid white;
 }
 .border_bottom0{
   border-bottom: none;
 }
 .border_right1{
  border-right: 2px solid white;
 }
 .border_right0{
  border-right: none;
 }


 .text_input_frame{
  transition: 0.4s ease;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0;
}

.tooltip_custom {
  color: white !important;
  background-color: rgba(236, 105, 92, 1) !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
  border-radius: 3px!important;
  padding: 10px 15px!important; 
}


.preview_side_scroll::-webkit-scrollbar {
	width: 5px;
}

.preview_side_scroll::-webkit-scrollbar-thumb {
  background: rgba(236, 105, 92, 0.5);
	border-radius: 5px;
}

@keyframes downloadnigPrewiev {
  0%   {transform: translate(30%,-40%)}
  1%   {transform: translate(30%,-150%)}
  100% {transform: translate(30%,-40%)}
}

