
.panelpreview_container {
  display: flex;
  height: 100%; 
  min-width: 30%;
  max-width: 50%;
  background-color: #ECECEC;
  transition: 1000ms ease-in-out;
  transition-delay: 800ms;

  // transition: 1500ms linear;

  .preview_side{
    background-color: #3f4141;
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .side_box{
      width: 50px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.4s ease;

      .side_icon{
        height: 50px;
        width: 50px;
      }

      span{
        color: #ec695c;
        font-size: 12px;
        line-height: 13px;
        margin: 5px 0;
        cursor: default;
      }
    }
  }

  .preview_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ECECEC;

    .preview_top{
      background-color: #ec695c;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      h2{
        color: white;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        font-family:  'Montserrat', sans-serif;
      }
    }
  
    .preview_bottom{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ec695c;
      
      .bottom_info_model, .bottom_info_ral{
          height: 40px;
          width: 120px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: white;
          margin: 10px;
          cursor: default;
      }

      .bottom_info_ral{
        justify-content: flex-end;
      }


      .scale_container{
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .scale_box{
          height: 40px;
          width: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .scale_icon{
            height: 25px;
            width: 25px;
            filter: invert(100%) sepia(1%) saturate(1166%) hue-rotate(201deg) brightness(120%) contrast(100%);
          }
        }
      }
    }

    .panel_container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow-y: overlay; // nie działa w Firefox!!
      overflow-x: overlay;
      position: relative;

      .resize_container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;

        .panel_box{
          display: flex;
          box-sizing: border-box;
          position: relative;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          .visualization_frame{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.4s ease; 
            // box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px; //-------------------------??
          }

          .visualization_glass{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.4s ease; //-------------------------------
            clip-path: polygon(0 0, 67% 0, 41% 100%, 0% 100%);
            background-image:
            radial-gradient(
              circle at top left,
              rgba(255,255,255,0.55),
              rgba(255,255,255,0),
            );
          }
          .visualization_glass_bis{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.4s ease; //-------------------------------
            clip-path: polygon(67% 0, 100% 0, 100% 100%, 41% 100%);
            background-color: rgba(200,200,200,0.08);
          }

          .visualization_glass_white{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.4s ease; //-------------------------------
            // background-color: rgba(200,200,200,0.22);
            background-color: rgba(200,200,200,0.27);
          }

          .logo_pure{
            position: absolute;
            transition: 0.4s ease; //-------------------------------
          }

          .panel_content{
            display: flex;
            flex-wrap: wrap;
          
            .lcd{
              border: 1px solid white;
              position: absolute;
            } 
            .lcd_visual{
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;

              .lcd_icon_box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .lcd_icon{
                  filter: grayscale(100%) invert(1) brightness(10) drop-shadow( 0 0 6px rgba(255, 255, 255, 1));
                  cursor: default;
                  transition: 0.4s ease;
                }
              }
              
              .lcd_clock{
                color: white;
                text-shadow: 0 0 4px rgba(255, 255, 255, 1);
                font-family:  'Montserrat', sans-serif;
                font-weight: 500;
                margin: 0;
                cursor: default;
                transition: 0.4s ease;
              }
            }

            .universal_icons{
              position: absolute;

              .universal_icon{
              position: absolute;
              cursor: default;
              }
            }  
            
            .text_box{
              width: 100%;
              height: 100%;
              position: absolute;

              .text_input{
                // transition: color 0s, border 0.4s ease, width 0.4s ease, height 0.4s ease, top 0.4s ease;
                transition: 0.4s ease;
                text-align: center;
                position: absolute;
                transform: translateX(-50%);
                padding: 0;
              }
            }
          }
        }
      }
    }

    .panel_container::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    .panel_container::-webkit-scrollbar-thumb {
      background: rgba(236, 105, 92,0.5);
      border-radius: 10px;
    }
    .panel_container::-webkit-scrollbar-corner{
      background: transparent;
    }
  }
}




  
  // @use "sass:math";
// $sc: 5;

// .panelpreview_container {
//   display: flex;
//   // justify-content: center;
//   // align-items: center;
//   height: 100%;
//   width: 40%;
//   background-color: #ECECEC;

//   // position: relative;
//   // border: 1px dashed green;




// .preview_side{
//   background-color: #3f4141;
//   height: 100%;
//   width: 60px;
//   // position: absolute;
//   // right:0;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

// }




// .preview_container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   height: 100%;
//   width: 100%;
//   background-color: #ECECEC;

//   // border: 1px dashed red;
//   // overflow-y: auto;
//   // overflow-x: auto;





//   .preview_top{
//     background-color: #ec695c;
//     width: 100%;
//     height: 40px;
//     // position: absolute;
//     // top:0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
  
//     h2{
//       color: white;
//       font-size: 18px;
//       font-weight: 700;
//       margin-bottom: 0;
//     }
//   }
  
//   .preview_bottom{
//     background-color: #ec695c;
//     width: 100%;
//     height: 40px;
//     // position: absolute;
//     // bottom:0;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
  
//     span{
//       color: white;
//       margin: 10px;
//     }
//   }



//   .panel_container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     width: 100%;

//     overflow-y: auto;
//     // overflow-x: auto;
//     position: relative;
//     // border: 1px dashed blue;




//     .resize_container {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       height: 100%;
//       // height: 1000px;
//       width: 100%;
//       position: absolute;
//       top: 0;
//       margin: 50px;
//       // background-color: green;
//       border: 1px dashed red;
//       // transform: scale(1.2);


//   .panel_box{
//     display: flex;
//     box-sizing: border-box;
//     position: relative;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//     transition: 400ms ease;

//     // transform: scale(1.2);
//     // border: 1px dashed orangered;
//     margin: 120px;







//     .panel_content{
//       display: flex;
//       flex-wrap: wrap;

//       .cell{
//       width: 22.4px * $sc;
//       height: 24px * $sc;
//       position: relative;

//       .status_area{
//         // width: round(2.5px * $sc); //oryginalne
//         // height: round(2.5px * $sc);     
//         width: 13px;
//         height: 13px;
//         // margin: round(1.65px * $sc) auto round(2.5px * $sc); 
//         margin: 8px auto 12px; 
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         position: relative;
//         transition: 0.3s; 
//         z-index: 2;

//         .status_area_dropping{
//           position: absolute;
//           width: 150%;
//           height: 150%;
//           border-radius: 50%;
//           background-clip: content-box;
//           transition: background-color 0.5s ease;
//           // background-color: rgba(0,255,0,0.2);

//         }

//         .status_area_dropping_pulse{
//           // width: 23.4px;
//           // height: 23.4px;
//           width: 26px;
//           height: 26px;
//           border-radius: 50%;
//           display: block;
//           position: absolute;
//           // background-color: rgba(255,0,0,0.1);
//       }

//       .dot{ 
//         // width: round(1.25px * $sc); 
//         // height: round(1.25px * $sc); 
//         width: 6px; 
//         height: 6px; 
//         transition: 0.3s;
//         z-index: 4;
//         }

//         .status_icon{
//         // width: round(2.5px * $sc); //oryginalny rozmiar
//         // height: round(2.5px * $sc); 
//         transition: 0.3s;
//         z-index: 4;
//         // width: round(7.5px * $sc); 
//         // height: round(7.5px * $sc); 
//         width: 38px; 
//         height: 38px; 
//         transform: scale(0.333,0.333);
//         cursor: move;
//       }

//       .dot_remove{
//         // width: round(2.5px * $sc); 
//         // height: round(2.5px * $sc); 
//         width: 12px; 
//         height: 12px; 
//         position: absolute;
//         z-index: 4;
//       }
//       }
      
//       .icon_area{
//         // width: round(7.5px * $sc);
//         // height: round(7.5px * $sc);
//         width: 38px;//-----------------------------------
//         height: 38px;
//         margin: 0 auto;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         position: relative;
//         transition: 0.3s;
//         z-index: 2;

//         .icon_area_dropping{
//           position: absolute;
//           width: 150%;
//           height: 150%;
//           border-radius: 50%;
//           background-clip: content-box;
//           transition: background-color 0.5s ease;

          
//               // background-color: rgba(255,0,0,0.2);
//         }

//         .icon_area_dropping_pulse{
//           width: 65px;
//           height: 65px;
//           border-radius: 50%;
//           display: block;
//           position: absolute;
//           // top:-2px;
//           // left:-2px;
//           // animation: Ani 2s infinite;
//           // background-color: rgba(0,255,255,0.2);
//       }

//         .icon{ 
//         // width: round(7.5px * $sc); 
//         // height: round(7.5px * $sc); 
//         width: 38px;
//         height: 38px;
//         transition: 0.3s;
//         z-index: 4;
//         cursor: move;
//         }

//         .slash{
//         // width: round(7.5px * $sc); 
//         // height: round(7.5px * $sc); 
//         width: 38px;
//         height: 38px;
//           // transition: 0.3s;
//           z-index: 4;
//         }

//         .holder{
//         // width: round(7.5px * $sc); 
//         // height: round(7.5px * $sc); 
//         width: 38px;
//         height: 38px;
//           // transition: 0.3s;
//           z-index: 4;
//         }
//         .remove{
//         // width: round(7.5px * $sc); 
//         // height: round(7.5px * $sc); 
//         width: 38px;
//         height: 38px;
//           position: absolute;
//           // transition: 0.3s;
//           z-index: 4;
//         }
//       }

//         .slash_up_area, .slash_down_area{ 
//         // width: round(3.75px * $sc); //cała ćwiartka, zmiejszone dla efektu wizualnego
//         // height: round(3.75px * $sc); 
//         // width: round(3.5px * $sc); 
//         // height: round(3.5px * $sc); 
//         width: 18px; 
//         height: 18px; 
//         position: absolute;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         transition: 0.3s;  
//         z-index: 2;

//         .slash_icon_area_dropping{
//           position: absolute;
//           width: 150%;
//           height: 150%;
//           border-radius: 50%;
//           background-clip: content-box;
//           transition: background-color 0.5s ease;

//           // background-color: rgba(255,0,0,0.2);

//         }

//         .slash_icon_area_dropping_pulse{
//           width: 35px;
//           height: 35px;
//           border-radius: 50%;
//           display: block;
//           position: absolute;
//           // background-color: rgba(0,255,255,0.2);
//         }
        
//         .slash_icon{
//           // width: round(3.75px * $sc); //cała ćwiartka, zmiejszone dla efektu wizualnego
//           // height: round(3.75px * $sc); 
//           // width: round(3.5px * $sc); //oryginalny rozmiar
//           // height: round(3.5px * $sc); 
//           transition: 0.3s;
//           z-index: 4;
//           cursor: move;
//           // width: round(7.5px * $sc); 
//           // height: round(7.5px * $sc); 
//           width: 38px;
//           height: 38px;
//           transform: scale(0.466,0.466);


//         }
//         .slash_holder{
//           // width: round(3.75px * $sc); 
//           // height: round(3.75px * $sc);
//           width: 19px; 
//           height: 19px;  
//           display: none;
//           z-index: 4;
//         }

//         .slash_remove{
//           // width: round(3.75px * $sc); 
//           // height: round(3.75px * $sc);
//           width: 19px; 
//           height: 19px;  
//           position: absolute;
//           z-index: 4;
//         }
//         }

//         .slash_up_area{ 
//           top: round(6.65px * $sc);
//           right: 50%;
//           transform: translateX(-(round(0.25px * $sc)));
//        }

//        .slash_down_area{ 
//           top: round(10.75px * $sc);
//           left: 50%;
//           transform: translateX(round(0.25px * $sc));
//        }
//       }
      
      

//     .cell:nth-child(3n+2){
//       width: 25.6px * $sc;
//     }

//     .cell_dot9:nth-last-child(-n+3){
//       height: 22.4px * $sc;
//     }

//     .cell_dot18:nth-last-child(-n+3){
//       height: 20.8px * $sc;
//     }
//     }

//     .lcd{
//       height: 37px *$sc;
//       width: 30px *$sc;
//       border: 1px solid white;
//       position: absolute;
//       top: 25px * $sc;
//       left: 30px *$sc;
//     }
//   }
// }
// }
// }
// }//od resize

// .panel_container::-webkit-scrollbar {
//   width: 12px;
//   // background-color: rgba(0,0,0,0.1);
// }
// .panel_container::-webkit-scrollbar-thumb {
//   // background: rgb(217,217,217);
//   background: rgb(255,0,0);
//   border-radius: 10px;

// }

// @keyframes spin { 
//   100% { 
//     transform: rotateZ(360deg);
//   }
// }

// @keyframes Ani{
//     0%{
//       transform:scale(0)
//     }
//     70%{
//       box-shadow:0 0 15px rgba(255, 193, 7,0.5);
//       border:1px solid rgba(255, 193, 7,0.5);
//       transform:scale(1)
//     }
//     100%{
//       box-shadow:0 0 30px rgba(255, 193, 7,0);
//       border:0 solid rgba(255, 193, 7,0);
//       transform:scale(1.2)
//     }
//   }








  