.text_container{
    display: flex;
    flex-direction: column;
    padding: 55px 55px 0 55px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    
    .text_header{
        font-size: 24px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: #333333;  
        align-self: flex-start;
        position: relative;
        margin-left: 10px;
        margin-bottom: 15px;
        cursor: default;
    }

    .text_header::before{
        content: "";
        position: absolute;
        top: -24px;
        width: 30px;
        height: 8px;
        background-color: rgb(236, 105, 92);
    }

    .instruction_bold{
        font-size: 16px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: #333333;  
        align-self: flex-start;
        text-align: left;
        margin-bottom: 16px;
        cursor: default;
        margin-left: 10px;
    }

    .text_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;



        .font_link{
            width: 225px;
            height: 125px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            margin: 10px;
            border: 3px solid transparent;
            transition: 300ms ease;
            cursor: pointer;
            border-radius: 15px;
            position: relative;

            .font_name, .font_example{
                margin: 10px 0 0 10px;
            }
        }
        .font_link:hover{
            border: 3px solid #EC695C;
        }
        .font_chosen{
            position: absolute;
            right: 0;
            top: 0;
            height: 15px;
            width: 20px;
            background-image:  url("../../../assets/arrows.svg");
            transform: translate(-50%,100%);
            background-repeat: no-repeat;
        }
    }
}

.text_container::-webkit-scrollbar {
    width: 12px;
}

.text_container::-webkit-scrollbar-thumb {
    background: #ECECEC;
    background: rgb(217,217,217);
    border-radius: 10px;
}
