.header_container{
  width: 100%;
  min-width: 1280px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 25px 0px;
  position: relative;
  z-index: 9999;

  // display: none;


  .nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 45px;
    width: 100%;
    max-width: 1640px;
    margin: 28px 0 18px;
    padding: 0 15px;

    .nav_brand{
      transition: opacity 300ms ease;
      cursor: pointer;
      
      .nav_logo{
        width: auto;
        height: 45px;
        margin-left: 50px;
      }
    }
    
    .nav_brand:hover{
      opacity: 0.6;
    }
  
    .nav_header{
      font-size: 45px;
      line-height: 45px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      color: #333333;
      cursor: default;
    }
  }
  .version{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 2px;
    margin-right: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    font-size: 12px;
    cursor: default;
  }
  .languale_button_box{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 18px;
    display: flex;

    .languale_button{
      font-family: 'Montserrat', sans-serif;
      color: #333333;
      font-size: 12px;
      line-height: 12px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .languale_slash{
      font-family: 'Montserrat', sans-serif;
      color: rgb(236, 105, 92);
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      cursor: default;
    }
  }
}
