.model_container {
	display: flex;
	flex-direction: column;
	padding: 55px 55px 0 55px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	background-color: white;
	position: absolute;
	.model_header {
		font-size: 24px;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
		color: #333333;
		align-self: flex-start;
		position: relative;
		margin-left: 10px;
		margin-bottom: 15px;
		cursor: default;
	}
  .instruction_bold {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    align-self: flex-start;
    text-align: left;
    cursor: default;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
	.model_header::before {
		content: "";
		position: absolute;
		top: -24px;
		width: 30px;
		height: 8px;
		background-color: rgb(236, 105, 92);
	}
	.model_content {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
    margin-bottom: 250px;

		.model_section {
			margin: 10px;
      width: 200px;
			min-height: 275px;
      position: relative;

      .model_push{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        transition:  400ms ease;
      }

      .model_link {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 3px solid transparent;
        transition:  400ms ease;
        cursor: pointer;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;

        .model_box{
          width: 190px;
          height: 220px;
          // margin: 10px 10px 2px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .model_img {
            max-width: 175px;
            max-height: 200px;
          }
        }

        .model_name {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 20px;
          font-weight: 400;
          margin: 0 10px;
        }

        .model_info {
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          line-height: 16px;
          margin: 10px 10px 5px 10px;
          text-align: left;
        }

        .button_box{
          display: flex;
          width: 100%;
          justify-content: space-between;

          .more_info_button {
            height: 30px;
            width: 80px;
            cursor: pointer;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: #333333;
            font-size: 10px;
            padding: 5px 20px 5px 0;
            border: 2px solid transparent;
            transition: 0.4s ease;
            align-self: flex-end;
            position: relative;
            margin: 0 5px 5px 5px;
            
            .button_arrows {
              position: absolute;
              right: 0;
              top: 50%;
              height: 10px;
              width: 12px;
              background-image: url("../../../assets/arrows.svg");
              transform: translate(-90%, -50%);
              background-repeat: no-repeat;
            }
          }
          .more_info_button:hover {
            border: 2px solid #EC695C;
          }

          .select_button {
            height: 30px;
            width: 90px;
            cursor: pointer;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: #333333;
            font-size: 10px;
            padding: 5px 20px 5px 0;
            border: 2px solid transparent;
            transition: 0.4s ease;
            align-self: flex-end;
            position: relative;
            margin: 0 5px 5px 5px;
            
            .button_arrows {
              position: absolute;
              right: 0;
              top: 50%;
              height: 10px;
              width: 12px;
              background-image: url("../../../assets/arrows.svg");
              transform: translate(-70%, -50%);
              background-repeat: no-repeat;
            }
          }
          .select_button:hover {
            border: 2px solid #EC695C;
          }
        }
        }

        .model_link:hover {
          border: 3px solid #EC695C;
          // border: 3px solid rgba(236, 105, 92,0.35);
          // transform: scale(1.5);
        }
      }
	}

}

.model_container::-webkit-scrollbar {
	width: 12px;
}
.model_container::-webkit-scrollbar-thumb {
	background: rgb(217, 217, 217);
	border-radius: 10px;
}


//-------

// .model_container{
//     display: flex;
//     flex-direction: column;
//     padding: 55px 55px 0 55px;
//     height: 100%;
//     width: 100%;
//     overflow-y: auto;
//     background-color: white;
//     position: absolute;

    
//     .model_header{
//         font-size: 24px;
//         font-weight: 700;
//         font-family: 'Montserrat', sans-serif;
//         color: #333333;  
//         align-self: flex-start;
//         position: relative;
//         margin-left: 10px;
//         margin-bottom: 15px;
//         cursor: default;
//     }

//     .model_header::before{
//         content: "";
//         position: absolute;
//         top: -24px;
//         width: 30px;
//         height: 8px;
//         background-color: rgb(236, 105, 92);
//     }

//     .model_content {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     flex-wrap: wrap;

//     .panel_form{
//         margin-bottom: 1rem;
//         text-align: left;
        
//         label{
//             margin-right: 0.5rem;
//         }
//     }
    
//     .panel_list{
//         text-align: left;
    
//         span {
//             font-weight: bold;
//         }
//     }
// }
// }
//     .color_container::-webkit-scrollbar {
//         width: 12px;
//     }
//    .color_container::-webkit-scrollbar-thumb {
//         background: #ECECEC;
//         background: rgb(217,217,217);
//         border-radius: 10px;

//     }


    