.editor_container{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    // overflow: hidden;


    .editor_nav{
        align-self: center;
        width: 80%;
        max-width: 800px;
        min-width: 500px;
        height: 90px;
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 30px 50px;

        .editor_button{
            height: 90px; 
            width: 90px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;

            .button_icon{
                height: 70px; 
                width: 70px;   
                position: absolute;
                top:0;
                z-index: 1;
            }

            .button_icon_hover{
                height: 70px; 
                width: 70px;   
                position: absolute;
                top:0;
                z-index: 2;
            }

            .button_text{
                font-size: 16px;
                line-height: 16px;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
                color: #333333;   
                position: absolute;
                bottom: 0;
                margin-bottom: 0;
                z-index: 2;
            }
        }
    }

    .editor_box{
        flex-grow: 1;
        margin: 0 65px 50px 65px;
        border: 3px solid #EC695C;
        position: relative;
    }

}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


.nav-link {
    outline: none !important;
    box-shadow: none;
 }