// body::-webkit-scrollbar {
//     display: none;
// }
// body{
//     -ms-overflow-style: none;  /* IE and Edge */
//     scrollbar-width: none;  /* Firefox */
// }

body{
  overflow-x: hidden;
}
  
.main_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 800px;//---------------------------dobierz 
  width: 100vw;
  // overflow: hidden;
  // border: 1px dashed green; //-----------------------------------usuń



  .content_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    // border: 1px dashed red;//-----------------------------------usuń

    overflow: hidden; ///----------------------------??
    position: relative;
    // background-image: url(../assets/pattern.svg);
    // background-position: center;
    // background-size: cover;
  }
}

  .content_container:before{
    background-image: url(../assets/pattern.svg);
    content: '';
    width: 1020px;
    height: 480px;
    display: block;
    position: absolute;
    right: -450px;
    bottom: -250px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    }