.icons{
    display: flex;
    flex-wrap: wrap;


    .icon {
        height: 60px;
        width: 60px;
        margin: 10px;
        filter: grayscale(100%) brightness(0);
        // filter: grayscale(100%) invert(1) brightness(10);
        cursor: pointer;
    }

    :hover{
        filter: invert(49%) sepia(48%) saturate(4810%) hue-rotate(190deg) brightness(101%) contrast(101%);
    }
}
