.header_container{
  width: 100vw;
  display: flex;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 25px 0px;
  position: relative;


  .nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 45px;
    width: 100vw;
    max-width: 1640px;
    margin: 28px 0 18px;
    padding: 0 15px;

    .nav_brand{
      transition: opacity 300ms ease;
      cursor: pointer;
      
      .nav_logo{
        width: auto;
        height: 45px;
      }
    }
    
    .nav_brand:hover{
      opacity: 0.6;
    }
  
    .nav_header{
      font-size: 45px;
      line-height: 45px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      color: #333333;
      cursor: default;
    }
  }
}

// @media (min-width: 1200px){
// .nav_container {
//     max-width: 1140px;
// }
// }

// :root {
//   --blue: #007bff;
//   --indigo: #6610f2;
//   --purple: #6f42c1;
//   --pink: #e83e8c;
//   --red: #dc3545;
//   --orange: #fd7e14;
//   --yellow: #ffc107;
//   --green: #28a745;
//   --teal: #20c997;
//   --cyan: #17a2b8;
//   --white: #fff;
//   --gray: #6c757d;
//   --gray-dark: #343a40;
//   --primary: #007bff;
//   --secondary: #6c757d;
//   --success: #28a745;
//   --info: #17a2b8;
//   --warning: #ffc107;
//   --danger: #dc3545;
//   --light: #f8f9fa;
//   --dark: #343a40;
//   --breakpoint-xs: 0;
//   --breakpoint-sm: 576px;
//   --breakpoint-md: 768px;
//   --breakpoint-lg: 992px;
//   --breakpoint-xl: 1200px;
//   --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
//   --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
// }